<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<style>
		.well a{padding: 10px 0 10px 0; font-size: 3.5em;margin-bottom: 50px;}
		.well .row:last-of-type .col-xs-12:last-of-type a{margin-bottom:0px;}
		.container{margin-top: 5%;}
		.jumbotron p{font-size:2.4em;margin-bottom: 50px;}
		.jumbotron h1{font-size: 6em;}
		@media (min-width: 992px) {
			.well a{font-size:1.5em;margin-bottom:0pc;}
			.row-top{margin-bottom: 20px;}
			.jumbotron p{margin-bottom:10px;}
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<div class="jumbotron text-center">
					<h1><i class="fa fa-lock"></i> Social Authentication</h1>
					<p>Login or Register with:</p>
					<div class="container-fluid well">
						<div class="row row-top">
							<div class="col-xs-12">
								<a href="signup" class="btn btn-default col-xs-12">
									<i class="fa fa-user"></i> Local Signup
								</a>									
							</div>
							<div class="col-xs-12">
								<a href="login" class="btn btn-default col-xs-12">
									<i class="fa fa-user"></i> Local Login
								</a>									
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>